---
layout: default
---

<div class="post-area post">
    <header>
        <h1>{{ page.title }}</h1>
        <h3>{{ page.excerpt }}</h3>
    </header>
    <hr>
    <article class="page-content">

        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#play-golang" data-toggle="tab">play.golang</a>
            </li>
            <li >
                <a href="#static-code" data-toggle="tab">static</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="play-golang" class="tab-pane fade in active">
                <form name="codecontainer" action="{{ site.play_bridge }}" onsubmit="CodeSubmitRewrite(this)" target="my-iframe" method="post" >
                    <input type="hidden" name="version" value="2" />
                    <!-- <input type="hidden" name="body" /> -->
                    <textarea name="body" style="display:none;">{{ content }}</textarea>
                    
                </form>
                <iframe name="my-iframe" src="">
                    <p>您的浏览器不支持  iframe 标签。</p>
                </iframe>
            </div>
            <div id="static-code" class="tab-pane fade">
                <div class="code-container"><pre><code class="golang" data-lang="golang"><span>{{ content }}</span></code></pre></div>
            </div>
        </div>
      
    </article>

</div>
<script>
(function(){
    document.codecontainer.submit()
}())

</script>

