---
layout: default
---

<div class="post-area post">
    <header>
        <h1>{{ page.title }}</h1>
    </header>
    <hr>
    <article class="page-content">
        
        <form name="codecontainer" action="{{ site.play_bridge }}" onsubmit="CodeSubmitRewrite(this)" target="my-iframe" method="post" >
            <input type="hidden" name="version" value="2" />
            <!-- <input type="hidden" name="body" /> -->
            <textarea name="body" style="display:none;">{{ content }}</textarea>
            <!-- <textarea name="body">{{ content }}</textarea> -->
        </form>
        <iframe name="my-iframe" src="">
            <p>您的浏览器不支持  iframe 标签。</p>
        </iframe>
        <div>
            <p>因为同源策略的缘故,无法改变iframe的内容唯一能做到的就是通过参数改变提交的输出(TODO)</p>
            <a href="//play.golang.org">golang在线运行代码地址</a> 
        </div>
    </article>

</div>
<script>
(function(){
    document.codecontainer.submit()
}())

</script>

